$font_color : white !default;
$header_background : #023c57 !default;
$box_down_bckcolor : #01405e !default;
$increase_bckcolor : #2cd814 !default;
$target_bckcolor : #3254f5 !default;
$target_bckcolor_decr : #ca220f !default;
page-home {

	.toolbar-background-md{
		background-color: $header_background;
	}
	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
	    color: $font_color ;
	}
	.toolbar-title-md{
		color: $font_color ;
	}
	.bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover) {
	    color: $font_color;
	}
}

.home-header{
	color: $font_color;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	.home-header-title{
		margin-right: 63px;
	}
	.home-header-graph{
		.home-sgpa_txt button{
			font-size: 14px;	
		}
		.home-sgpa_txt{
			.right-colorTarget{
				color: $target_bckcolor;
				margin: 10px;
			}
			.decreaseright-colorAchivement{
				color: $target_bckcolor_decr;
			}
			.increaseright-colorAchivement{
				color: $increase_bckcolor;
				margin: 10px;
			}
			.home-sgpa_txt_right{
				padding: 5px;
    			font-size: 20px;
    			font-weight: 500;
    			text-align: left;
			}
			.showIncDecr{
				position: absolute;
			    left: 37%;
			    top: 42%;
			    width: 47px;
			}
			.home-subject_save_redIcon:before {
			    color: red;
			}
			.home-subject_save_blueIcon:before {
			    color: $increase_bckcolor;
			}
			.home-subject_save_rightIcon:before {
				color: #00aabf;
			}
		}
			 
		
	}
	.home-header-sgpa{
		background-color: $box_down_bckcolor;
		padding: 0px;
	}
	.home-header-sgpa, .home-header-graph{
    	color: $font_color;
		button{
			color: $font_color;
			background-color: $box_down_bckcolor;
		}
		.home-sgpa-arrow-back{
			font-size: 2.2em;
		}
		.home-sgpa_txt{
			text-align: center;
			padding: 0px;

			.chart-wrapper{
				text-align: -webkit-center;
			}
			.home-sgpa-button{
				text-align: center;
			    font-size: 19px;
			    padding: 9px;
			    font-weight: bold;
			}	
		}
		
		.home-sgpa-arrow-forward{
			font-size: 2.2em;
			float: right;
			padding-left: 13px;
		}	
	}
}
.home-content{
	.list{
		margin: 9px;
		border-radius: 4px;
    	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	.scroll-content{
	    padding-bottom: 50px;
	}
	.home-item-slide-subjectList_theory{
		padding-left: 0px;
		.label-md{
			margin: 0px;
		}
		.home-item-slide-option-subjectList_theory{
			button{
				background-color: #bb1414;
			    color: cornsilk;
			    font-weight: 500;
			}
		}
	}
	.home-item-slide-subjectList_practical{
		padding-left: 0px;
		.label-md{
			margin: 0px;
		}
		.home-item-slide-option-subjectList_practical{
			button{
				background-color: #bb1414;
			    color: cornsilk;
			    font-weight: 500;
			}
		}
	}
}

.home-subjectList_theory, .home-subjectList_practical{
	padding-left: 0px;
	.home-subject_name{
		    top: 7px;
		input{
			border: 1px solid #928d8d;
    		border-radius: 7px;
    		height: 30px;
    		padding-left: 6px;
    		width: 95%;
		}
	}
	.home-subject_grade{
		.home-subject_grade_item{
			border-bottom: 0px !important;
			padding-left: 0px;
			.item-inner{
				border-bottom: 0.55px solid white !important; 
			}
    		.home-subject_grade_item_select{
    			border: 1px solid #928d8d;
    			width: 100%;
    			height: 30px;
    			border-radius: 7px;
				padding: 3px 8px 5px 10px;
				    max-width: 100%;
			}
		}
	}
	.home-subject_credit{
		.home-subject_credit_item{
			border-bottom: 0px !important;
			padding-left: 0px;
			.item-inner{
				border-bottom: 0.55px solid white !important; 
			}
    		.home-subject_credit_item_select{
    			border: 1px solid #928d8d;
    			width: 100%;
    			height: 30px;
    			border-radius: 7px;
				padding: 3px 8px 5px 4px;
				    max-width: 100%;
			}
		}
	}
	.home-subject_save{
		/* .home-subject_save_item{
			border-bottom: 0px !important;
			padding-left: 0px;
			.home-subject_save_checkbox{
				padding: 0px;
				margin: 0px 17px 3px 0px;
			}	

		} */
		margin-top: 17px;
    	padding: 0px;
		.home-subject_save_redIcon:before {
		    color: red;
		}
		.home-subject_save_blueIcon:before {
		    color: green;
		}
		.home-subject_save_rightIcon:before {
			color: #00aabf;
		}
	}
}
.home-subjectList_header_txt{
	font-size: 14px;
	padding: 0px;
	background-color: $box_down_bckcolor;
	color: $font_color;
	.label-md{
		margin: 0px;
	}
}
.home-subjectList_theory_txt, .home-subjectList_practical_txt{
	padding-left: 0px;
    font-size: 20px;
    padding-right: 0px;
    background-color: $header_background;
    border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	.item-inner{
		border-bottom: none !important;
	}
    .label-md{
    	margin: 0px;
    }
	/* button{
		background-color: green;
	    border-radius: 50%;
	    height: 36px;
	    width: 7px;
	} */
	.home-row-add-icon{
		//color: black;
	    //border: 2px solid #925b5b;
	    background-color: $box_down_bckcolor;
	    border-radius: 50%;
	    cursor: pointer;
	    //padding-top: 4px;
	    width: 30px;
	    height: 30px;
	    text-align: center;
	    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	.home-row-add-icon:before {
	    color: $font_color;
	}
	.home-subjectList_theory_txt-col, .home-subjectList_practical_txt-col{
		display: -webkit-inline-box;
		font-size: 20px;
		padding-top: 8px;
		color: $font_color;
	}
	.home-subjectList_practical_txt-number, .home-subjectList_theory_txt-number{
		color: #ffffff;
	    width: 25px;
	    height: 26px;
	    margin-left: 10px;
	    border: none;
	    background-color: $box_down_bckcolor;
	    border-radius: 50%;
	    text-align: center;
	    font-size: 18px;
	    font-weight: 900;
	    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	button{
		.ion-icon{
	    	font-size: 3.4rem;
	    	//color: red;
	    }
	}
}

.home-row-addsubject{
    float: right;
	margin-right: 22px;
	button{
		background-color: green;
	    border-radius: 50%;
	    height: 45px;
	    width: 40px;
	    box-shadow: -2px 1px 2px 0 rgba(64, 64, 64, 0.14), 2px 2px 2px 1px rgba(41, 40, 40, 0.2), 1px 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
}
.simulation-content-canvas{
	width: 85px !important;
	height: 85px !important;
}